@{
    ViewBag.Title = "Connect";
}

<div class="jumbotron">
    <h1>Connect with Dropbox</h1>
    <p class="lead">Connect your application with the dropbox cloud stroage to save your file and datas securly. Dropbox is a service that keeps your files safe, synced, and easy to share. Bring your photos, docs, and videos anywhere and never lose a file again.</p>
    <p><a href="@Url.Action("Connect", "AuthCallback")" class="btn btn-success btn-lg">Take me to Dropbox &raquo;</a></p>
</div>

