@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Secure Cloud</h1>
    <p class="lead">Secure Cloud application helps you to securly store and share your personal file with the third party cloud providers and prevents the data sharing without required permissions. To begin click Getting Started to continue.</p>
    <p><a href="/Files" class="btn btn-primary btn-lg">Getting Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Drive</h2>
        <p>
            Get access to files anywhere through secure cloud storage and file backup for your photos, videos, files and more with Google Drive.
        </p>
        <p><a class="btn btn-default" href="/Files">Show My Drive &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Incoming</h2>
        <p>The "Incoming" view in Secure Cloud lets you see the files and folders that other people have shared with you, beginning with the most recent.</p>
        <p><a class="btn btn-default" href="/Incoming">Show Incoming &raquo;</a></p>
    </div>
   
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p>Get access to files anywhere through secure cloud storage and file backup for your photos, videos, files and more with Dropbox.</p>
        <p><a class="btn btn-default" href="/Drive">Show Accounts &raquo;</a></p>
    </div>
</div>